@font-face {
  font-family: 'lemonmilk';
  src: url("Font/Lemonmilk/lemonmilk-webfont.eot");
  src: url("Font/Lemonmilk/lemonmilk-webfont?#iefix") format("embedded-opentype"), url("Font/Lemonmilk/lemonmilk-webfont.woff") format("woff"), url("Font/Lemonmilk/lemonmilk-webfont.ttf") format("truetype"), url("Font/Lemonmilk/lemonmilk-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 19, ../scss/scss/style.scss */
.full-screen1 {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 28, ../scss/scss/style.scss */
.tabar-hb-left {
  margin-left: 10px;
  font-size: 1.5em;
  font-family: "Bebas";
}

/* line 34, ../scss/scss/style.scss */
.button-perso {
  background-color: transparent;
  border: solid 1px #FFF;
  margin-left: 20px;
  width: 130px;
  padding: 10px;
  position: relative;
  margin-top: 49px;
}

/* line 44, ../scss/scss/style.scss */
.button-perso2 {
  background-color: transparent;
  border: solid 1px #FFF;
  width: 130px;
  padding: 10px;
  position: absolute;
  margin-top: -14px;
  margin-left: -83px;
}

/* line 54, ../scss/scss/style.scss */
.button-perso3 {
  background-color: transparent;
  border: solid 1px #FFF;
  width: 130px;
  padding: 10px;
  margin-top: 10px;
}

/* line 62, ../scss/scss/style.scss */
.alwaystop {
  z-index: 999;
}

/* line 66, ../scss/scss/style.scss */
.h1 {
  color: #FFF;
}

/* line 70, ../scss/scss/style.scss */
.ptitle {
  font-size: 2em;
  color: #FFF;
  margin: 0;
}

/* line 77, ../scss/scss/style.scss */
.trailer {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
}

/* line 84, ../scss/scss/style.scss */
.tab-bar {
  height: 150px;
}

/* line 88, ../scss/scss/style.scss */
.progress .meter {
  background: none repeat scroll 0% 0% #008CBA;
  height: 100%;
  display: block;
  width: 0%;
}

/* line 95, ../scss/scss/style.scss */
#progress-bar-elements {
  display: none;
}

/* line 99, ../scss/scss/style.scss */
#inscription {
  margin-top: 100px;
  padding-top: 30px;
  background-image: url("../img/inscription.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 107, ../scss/scss/style.scss */
.wh {
  color: #FFF;
}

/* line 111, ../scss/scss/style.scss */
.shut_down {
  width: 500px;
  height: 120px;
  background-color: #FFF;
  color: #000;
  border-bottom: solid 1px #FDA235;
  background-image: url("../img/left.png");
  background-repeat: no-repeat;
}

/* line 121, ../scss/scss/style.scss */
.shut_down2 {
  position: absolute;
  margin-left: 300px;
  width: 200px;
  height: 90px;
  line-height: 80px;
  color: #000;
  background-image: url("../img/icons/shut_down.png");
  background-repeat: no-repeat;
  background-position: 115px 10px;
}

/* line 133, ../scss/scss/style.scss */
.profil {
  width: 120px;
  height: 119px;
  overflow: hidden;
  z-index: 2;
}

/* line 140, ../scss/scss/style.scss */
.profil-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 119px;
  background: url("../img/try.png");
  background-size: 120px 119px;
}

/* line 150, ../scss/scss/style.scss */
.img-profil {
  width: 60px;
  height: 60px;
}

/* line 155, ../scss/scss/style.scss */
.a-mbr {
  position: absolute;
  top: 5px;
  left: 110px;
  width: 200px;
  height: 50px;
}

/* line 163, ../scss/scss/style.scss */
.logo-mbr {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
}

/* line 170, ../scss/scss/style.scss */
.p-mbr {
  position: absolute;
  top: 75px;
  left: 110px;
  width: auto;
  height: 50px;
}

/* line 178, ../scss/scss/style.scss */
.p2-mbr {
  position: absolute;
  top: 100px;
  left: 110px;
  width: 200px;
  height: 50px;
  font-size: 0.7em;
}

/* line 187, ../scss/scss/style.scss */
.search {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 119px;
  margin-left: -180px;
  margin-top: -59px;
}

/* line 198, ../scss/scss/style.scss */
.input-mbr {
  position: absolute;
  right: 13px;
  top: -7px;
  width: 32px;
  height: 32px;
}

/* line 206, ../scss/scss/style.scss */
.menu-right {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 600px;
  background-color: #FDA235;
  opacity: 0.7;
}

/* line 216, ../scss/scss/style.scss */
.editusers {
  position: absolute;
  top: 136px;
  left: 5px;
  background-image: url("../img/icons/process.png");
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
}

/* line 228, ../scss/scss/style.scss */
.ausers {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
}

/* line 235, ../scss/scss/style.scss */
.editusers:hover .titleusers {
  display: block;
}

/* line 239, ../scss/scss/style.scss */
.titleusers {
  display: none;
  position: absolute;
  top: 5px;
  left: 60px;
  width: 200px;
  height: 35px;
  background-image: url("../img/titleuser.png");
}

/* line 249, ../scss/scss/style.scss */
.titleusers p {
  line-height: 35px;
  color: #FFF;
}

/* line 254, ../scss/scss/style.scss */
.hyde {
  position: absolute;
  display: block;
  top: 5px;
  left: 60px;
  width: 200px;
  height: 35px;
  background-color: transparent;
}

/* line 264, ../scss/scss/style.scss */
.hyde:hover {
  background-color: #FFF;
}

/* line 268, ../scss/scss/style.scss */
.travelss {
  position: absolute;
  top: 200px;
  left: 5px;
  background-image: url("../img/icons/world.png");
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
}

/* line 278, ../scss/scss/style.scss */
.travelss:hover .titletravels {
  display: block;
}

/* line 282, ../scss/scss/style.scss */
.titletravels {
  display: none;
  position: absolute;
  top: 5px;
  left: 60px;
  width: 200px;
  height: 35px;
  background-image: url("../img/titleuser.png");
}

/* line 292, ../scss/scss/style.scss */
.titletravels p {
  line-height: 35px;
  color: #FFF;
}

/* line 297, ../scss/scss/style.scss */
.hyde2 {
  position: absolute;
  display: block;
  top: 5px;
  left: 60px;
  width: 200px;
  height: 35px;
  background-color: transparent;
}

/* line 307, ../scss/scss/style.scss */
.hyde2:hover {
  background-color: #FFF;
}

/* line 311, ../scss/scss/style.scss */
.white {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 119px;
  background-color: #FFF;
}

/* line 320, ../scss/scss/style.scss */
.travel {
  height: 350px;
  line-height: 10px;
  border: solid 1px #FDA235;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  float: left;
}

/* line 330, ../scss/scss/style.scss */
.titletravel {
  width: 100%;
  height: 40px;
  line-height: 10px;
  background-color: #FDA235;
  margin-top: -3px;
  padding: 3px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

/* line 340, ../scss/scss/style.scss */
#buttonshow {
  position: absolute;
  width: 600px;
  height: 300px;
  background-color: #FFF;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
  color: #AE5726;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  padding: 50px;
  display: none;
  background-color: #eeeeee;
}

/* line 356, ../scss/scss/style.scss */
.bgorange {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #838386;
  opacity: 0.3;
  cursor: pointer;
  display: none;
}

/* line 368, ../scss/scss/style.scss */
.close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-right: -20px;
  cursor: pointer;
}

/* line 379, ../scss/scss/style.scss */
.closeimg {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  border-radius: 26px;
}

/* line 384, ../scss/scss/style.scss */
.bstitle {
  margin-top: -40px;
  padding: 0;
  font-size: 1.5em;
  color: #FFF;
}

/* line 391, ../scss/scss/style.scss */
#buttonshow label {
  color: #FFF;
}

/* line 395, ../scss/scss/style.scss */
.mdp {
  font-size: 0.9em;
  margin-top: 10px;
}

/* line 400, ../scss/scss/style.scss */
.spanmenu {
  margin-left: 10px;
  font-size: 0.9em;
}

/* line 405, ../scss/scss/style.scss */
.button-perso4 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #838386;
  width: 150px;
  height: 30px;
  cursor: pointer;
  border: none;
  color: #fff;
}

/* line 415, ../scss/scss/style.scss */
.top-bar-perso {
  border-bottom: 2px #838386 solid;
}

/* line 419, ../scss/scss/style.scss */
.search {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 88px;
  margin-left: -180px;
  margin-top: -59px;
}

/* line 430, ../scss/scss/style.scss */
.input-mbr {
  position: absolute;
  right: 65px;
  top: 25px;
  width: 32px;
  height: 32px;
}

/* line 438, ../scss/scss/style.scss */
.button-left {
  background-color: #F78F20;
  width: 99px;
  height: 40px;
  padding-top: 10px;
}

/* line 445, ../scss/scss/style.scss */
.button-right {
  width: 99px;
  height: 40px;
  margin-right: 20px;
  background-color: #F78F20;
}

/* line 452, ../scss/scss/style.scss */
.button-discover {
  color: #838386;
  background-color: #FFF;
  margin-left: 30px;
  width: 230px;
  padding-right: 0;
  padding-left: 0px;
  height: 58px;
  padding-top: 20px;
}

/* line 464, ../scss/scss/style.scss */
.black {
  display: block;
  height: auto;
}

/* line 469, ../scss/scss/style.scss */
video {
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 479, ../scss/scss/style.scss */
.yellow {
  font-family: 'lemonmilk',lemonmilk;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -25px;
}

/* line 489, ../scss/scss/style.scss */
.menu-mbr {
  position: absolute;
  right: 0px;
  width: 400px;
  height: 60px;
}

/* line 496, ../scss/scss/style.scss */
.p-name {
  display: block;
  position: relative;
}

/* line 505, ../scss/scss/style.scss */
#user-warning {
  padding: 20px;
}

/* line 509, ../scss/scss/style.scss */
#close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

/* line 516, ../scss/scss/style.scss */
#firstname-btn {
  margin-left: 10px;
  padding: 5px;
}

/* line 521, ../scss/scss/style.scss */
#lastname-btn {
  margin-left: 10px;
  padding: 5px;
}

/* line 526, ../scss/scss/style.scss */
#password-btn {
  margin-left: 10px;
  padding: 5px;
}

/* line 531, ../scss/scss/style.scss */
#avatar-btn {
  margin-left: 10px;
  padding: 5px;
}

/* line 536, ../scss/scss/style.scss */
.logo {
  height: 50px;
  width: 90;
  padding-left: 60px;
  opacity: 100%;
  z-index: 999999;
}

/* line 545, ../scss/scss/style.scss */
.top-bar {
  height: 50px;
  background: #FFF;
  opacity: 0.7;
}

/* line 552, ../scss/scss/style.scss */
.discover {
  text-align: center;
  width: 300px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -150px;
}

/* line 563, ../scss/scss/style.scss */
.discover2 {
  text-align: center;
  width: 400px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -200px;
}

/* line 574, ../scss/scss/style.scss */
.discover2 .input {
  width: 200px;
}

/* line 578, ../scss/scss/style.scss */
.discover a {
  color: #AE5726;
  font-family: LemonMilk;
}

/* line 586, ../scss/scss/style.scss */
.discover a:hover {
  color: #F29326;
  font-family: LemonMilk;
}

/* line 593, ../scss/scss/style.scss */
.button {
  background: #AE5726;
  margin-right: 15px;
  padding: 10px;
  margin-top: 2px;
  font-family: LemonMilk;
  font-size: 0.3em;
}

/* line 602, ../scss/scss/style.scss */
.savoir {
  background: #AE5726;
  padding: 15px;
  margin-top: 2px;
  font-family: LemonMilk;
  font-size: 20px;
  opacity: 0.6;
}

/* line 614, ../scss/scss/style.scss */
.search {
  background: #FFF;
  color: #000;
  padding: 15px;
  margin-top: 2px;
  font-family: LemonMilk;
  font-size: 15px;
  opacity: 0.7;
}

/* line 626, ../scss/scss/style.scss */
.submit {
  color: #FFF;
  margin-top: 2px;
  font-family: LemonMilk;
  font-size: 15px;
  opacity: 0.7;
}

/* line 638, ../scss/scss/style.scss */
.button:hover {
  background: #F29326;
}

/* line 644, ../scss/scss/style.scss */
.video {
  width: 100%;
  position: relative;
  margin-top: -50px;
  top: 0px;
}

/* line 650, ../scss/scss/style.scss */
.description {
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
  font-family: LemonMilk;
  color: #AE5726;
}

/* line 657, ../scss/scss/style.scss */
.small-block-grid-3 li {
  padding: 0px;
}

/* line 663, ../scss/scss/style.scss */
.yellow {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
}

/* line 674, ../scss/scss/style.scss */
.blue {
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 20%;
  left: 0;
}

/* line 684, ../scss/scss/style.scss */
.form {
  position: relative;
  z-index: 3;
}

/* line 692, ../scss/scss/style.scss */
h1 {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 50px;
  top: 50%;
  left: 0;
  margin-top: -80px;
  font-family: LemonMilk;
  font-size: 30px;
  color: #FFF;
}

/* line 705, ../scss/scss/style.scss */
.explication {
  padding-top: 60px;
  text-align: justify;
}

/* line 711, ../scss/scss/style.scss */
.partenaire {
  padding-top: 20px;
  text-align: center;
  background-image: url(../img/background-partenaire.jpg);
}

/* line 719, ../scss/scss/style.scss */
.text-info {
  padding-top: 10px;
  font-family: LemonMilk;
  color: #272c30;
}

/* line 726, ../scss/scss/style.scss */
.text-icone {
  font-family: CenturyGothic;
  color: #000;
  font-size: 15px;
}

/* line 734, ../scss/scss/style.scss */
.bl {
  color: #AE5726;
}

/* line 738, ../scss/scss/style.scss */
#buttonshow label {
  color: #AE5726;
}

/* line 742, ../scss/scss/style.scss */
.top-bar-users {
  border-bottom: 1px #AE5726 solid;
}

/* line 746, ../scss/scss/style.scss */
.bagicon-img {
  height: 48px;
  width: 100px;
  background-image: url("../img/bagicon.png");
}

/* line 752, ../scss/scss/style.scss */
.bagicon-a {
  color: #AE5726;
  margin-right: 10px;
  line-height: 50px;
}

/* line 758, ../scss/scss/style.scss */
.top-bar-section ul li {
  background: none;
}

/* line 762, ../scss/scss/style.scss */
li .button {
  background: #AE5726;
  margin-right: 15px;
  padding: 10px;
  margin-top: 2px;
  font-family: LemonMilk;
}

/* line 770, ../scss/scss/style.scss */
.top-bar-section ul li > a.button {
  background: #AE5726;
  margin-right: 15px;
  padding: 10px;
  margin-top: 0px;
  font-family: LemonMilk;
}

/* line 778, ../scss/scss/style.scss */
.button-search {
  background: #AE5726;
  margin-right: 15px;
  padding: 10px;
  margin-top: 2px;
  font-family: LemonMilk;
  color: #FFF;
  cursor: pointer;
}

/* line 788, ../scss/scss/style.scss */
.submit {
  position: absolute;
  width: 200px;
  margin-left: 174px;
  margin-top: -38px;
}

/* line 795, ../scss/scss/style.scss */
.area {
  background-color: #AE5726;
  border: 1px solid #FFF;
}

/* line 800, ../scss/scss/style.scss */
.active-area {
  background-color: #FFF;
  border: 1px solid #AE5726;
}

/* line 805, ../scss/scss/style.scss */
.travelsss {
  border: 1px solid #AE5726;
}
